wip/

# don't upload secrets
**/*secret*

# ignore logs
30-homepage/config/logs

# ignore data volumes
10-central-postgres/data
10-central-postgres/backup

20-paperless-ngx/data

# no secrets
**/*.env
**/*.crt
**/*.key
