wip/

# don't upload secrets
**/*secret*

# ignore logs
**/*.log

# ignore data volumes
10-central-postgres/data
10-central-postgres/backup

20-paperless-ngx/data

# no secrets
**/*.env
**/*.crt
**/*.key

# ignore local config
config/gitops_base_path.txt:
